*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 10;
}
:root{
    --color-background: #030207;
    --color-white: #fff;
    --color-blue: #5eb3ec;
}
body{
    background-color: var(--color-background);
    color: var(--color-white);
}
a{
    color: var(--color-blue);
    /* Blue links*/
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.1), var(--color-background));
    position: relative;
    min-height: 100vh;
}
.hero__background{
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}
.hero__foreground{
    color: var(--color-white);
    padding-top: 40vh;
    text-align: center;
}
.hero__title{
    font-size: 5rem;
    font-weight: 300;
}
.hero__text{
    margin-top: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.section{
    overflow: auto; /* When the content overflows the stablished area, it's clipped, and no scrolling mechanism appears to see the outside content.*/
    text-align: center;
}
.section__title {
    font-size: 3rem;
    font-weight: 300;
    margin: 4rem auto;
}

.section__img,
.section__img-inline {
    border-radius: .75rem;
    /* X-axis, Y-axis, blur(borrar) effect, Expansion/indenting, color */
    box-shadow: 0 1rem 2rem -0.5rem rgba(20, 116, 180, 0.25);
    object-fit: cover;
    object-position: top;
    position: relative;
    max-height: 30rem;
    width: 100%;
}

.section__text,
.section__text-inline {
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 4rem auto;
}

.section__img-inline {
    border-top-left-radius: 4rem; /* 'Rounded edges' effect*/
    border-bottom-right-radius: 4rem;
    float: left; /* Effect to 'disconnect' images from the box/area. */
    margin-right: 4rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    height: 25rem;
    width: 20rem;
}

.section__text-inline {
    margin-top: 6rem;
    text-align: left;
}

.section__text-inline > p {
    margin-top: 1.5rem;
}

#hangouts img {
    object-position: center;
}

.carousel{
    overflow: hidden;
    max-width: 830px;
    max-height: 533px;
    position: relative;
    text-align: center;
    margin: auto; /* sets the element's margins to automatic, which causes the element to be centered horizontally relative to its parent element. This property works best for elements that are blocky elements. */
}
.carousel .carousel__item img{
    width: 100%;
    max-width: 800px;
    max-height: 533px;
    border-radius: .90rem;
    /* height: auto; */
}
.carousel .carousel__item,
.carousel .carousel__item--hidden{
    display: none;
}
.carousel .carousel__item--visible{
    display: block;
    animation: fadeVisibility 0.5s;
}
.carousel .carousel__actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
    /* position: absolute;
    top: 50%;
     */
}
.carousel .carousel__actions button{
    border-radius: 50px; /* make button a circle*/
    border: 0;
    margin-bottom: 60%;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #dddbdb;
    background-color: rgba(20,116,100,0.6);
}
#carousel__button--prev{
    margin-left: 20px;
}
#carousel__button--next{
    margin-right: 20px;
}
 .gallery__img {
    border-radius: .75rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover; /* Best way for adjusting distorced pictures */
    transform: rotate(-2deg);
}
/* The following is a transparent element used just for stylishing an image. */
.gallery__img-wrapper {
    display: inline-block;
    position: relative;
}
/*
.gallery__img-wrapper + .gallery__img-wrapper {
    margin-left: 3rem;
    margin-top: 3rem;
}

.gallery__img-wrapper:nth-child(even) > .gallery__img {
    top: 1rem;
    transform: rotate(2deg);
}

.gallery__img-wrapper::after {
    content: ""; Insert a text after a image, like a caption 
    background-color: rgb(228, 26, 26);
    border-radius: 999px;  For rounded edges effect, in this case turns the square into a circle.
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0.25rem;
    right: 1rem;
}

.gallery__img-wrapper:nth-child(even)::after {
    left: 1rem;
} */

footer {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}

@keyframes fadeVisibility {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: opacity linear;
    }
}
